-- CreateTable
CREATE TABLE "timeslots" (
    "v_id" INTEGER NOT NULL,
    "date" DATE NOT NULL,
    "time" TIMESTAMP(6) NOT NULL,

    CONSTRAINT "timeslots_pkey" PRIMARY KEY ("v_id","date","time")
);

-- CreateTable
CREATE TABLE "volunteers" (
    "id" INTEGER NOT NULL,
    "first_name" TEXT,
    "last_name" TEXT,

    CONSTRAINT "volunteers_pkey" PRIMARY KEY ("id")
);

-- AddForeignKey
ALTER TABLE "timeslots" ADD CONSTRAINT "timeslots_v_id_fkey" FOREIGN KEY ("v_id") REFERENCES "volunteers"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

